includes:
  - headers/data.yaml
  - headers/device.yaml
  - headers/model.yaml
  - headers/optimizer.yaml

# data_root: /home/featurize/work/data/cifar10
data_root: ../cifar-100-binary
image_size: 32
save_path: ./

# data
init_cls_num: 2
inc_cls_num: 2
task_num: 10 
epoch: 10
val_per_epoch: 10
batch_size: 10
cuda: yes
log_every: 100
data_file: cifar100.pt
samples_per_task: 2500


optimizer:
  name: SGD
  kwargs:
    lr: 0.1

lr_scheduler:
  name: StepLR
  kwargs:
    gamma: 0.5
    step_size: 10


buffer:
  name: RingBuffer
  kwargs:
    buffer_size: 500
    batch_size: 32
    strategy: random     # random, equal_random, reservoir, herding

seed: 0


backbone:
  name: resnet18
  kwargs:
    num_classes: 10
    args: 
      dataset: cifar10


classifier:
  name: GEM
  kwargs:
    memory_strength: 0.5
    n_memories: 256
    lr: 0.1